h1 {
  font-size: 2.2em;
  color: green;

}
h2 {
  font-size: 1.6em;
  margin-top: 25px;
}
h3 {
  font-size: 1.4em;
  margin-top: 15px;
}
h4 {
  font-size: 1.2em;
  margin-top: 5px;
}
.label {
  font-weight: 700;
  margin-left: 20px;
}
.path {
  color: green;
  font-weight: 700;
  font-family: monospace;
}
.header { margin-bottom:25px; }
.header img {
  float: left;
  margin-right: 10px;
}
.header h1 {
  margin-top: 20px;
}
